body{
    background-color: #F0F0F0;
    font-family:'Roboto', sans-serif;
    font-size: 1.5em;
     letter-spacing: 0.05em;
    margin:0;
    line-height: 1.75em;
    color: rgb(91, 56, 56);

}

h1,h3{
    font-weight: bold;
    color:rgb(91, 56, 56);
    text-transform:uppercase;
    font-family:sans-serif;
}
p{
       padding: 0 4.705882352941%;
       font-weight:bolder;
}

a{
      color: rgb(252, 249, 244);
      background-color: rgb(91, 56, 56);
}

.thumbnail img{
    width:100%;
    height: 200px;
}

.thumbnail a {
    text-decoration: none;
}

/*nav*/
.navbar-brand {
 font-size: 1.2em;
 color: rgb(252, 249, 244);
}


.navbar-default .navbar-toggle {
  border: 1px solid rgb(252, 249, 244);
  background-color: transparent;
  margin-right: 0;
}

.navbar-default .navbar-toggle:hover {
  background-color:rgb(91, 56, 56);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:rgb(252, 249, 244);
}

.navbar-default{
	background-color:rgb(91, 56, 56);
	font-weight:bold;

}
.navbar-default .navbar-nav li a {
	color:rgb(252, 249, 244);
     font-size: 1.2em;   
}