body {
background-color:#f2f2f2;
color:#3D2910;
font-family:monospace;
letter-spacing: 0.05em;
font-size: 1.2em;
font-weight: bold;
padding-left: 4.7%;
padding-right: 2.35%;

}

h1{
	font-size:2em;
	font-weight: bolder;
	letter-spacing: 0.08em;
	font-family: sans-serif;
}
.list{
	margin: 1em;
	border: 1px solid #3D2910;
	width: 50%;
	list-style-type:decimal;

}
.item{
	display: inline-block;
	padding-left: 5%;
}
.list .delete{
	float:right;
	display: inline-block;
	text-align: center;
	font-size: .8em;
}


