body {
background-color:#f2f2f2;
color:#3D2910;
font-family:monospace;
letter-spacing: 0.05em;
font-size: 1.2em;
font-weight: bold;
padding-left: 4.7%;
padding-right: 2.35%;

}

h1{
	font-size:2em;
	font-weight: bolder;
	letter-spacing: 0.08em;
	font-family: sans-serif;
}

input{ 
	margin: 2%;
	height: 5em;

}
#answer{
	position: absolute;
	margin:4em 2em;
	border-radius: 50%;
	width: 7em;
	height: 7em;
	background-color: #3D2910;

}
#number{
	position: absolute;
	font-size: 2.5em;
	color:#f2f2f2;
	left: 1.2em;
}

#response{
	color: brown;
}
