body {
background-color:#f2f2f2;
color:#3D2910;
font-family:monospace;
letter-spacing: 0.05em;
font-size: 1.2em;
font-weight: bold;
padding-left: 4.7%;
padding-right: 2.35%;

}

h1{
	font-size:2em;
	font-weight: bolder;
	letter-spacing: 0.08em;
	font-family: sans-serif;
}
p{
	color:brown;
}
img{
	width: 20%;
	margin-top: 1%;
	
}

input{ 
	margin: 2%;

}
#submit{
    background-color:#3D2910;
    color:#f2f2f2;
    font-family: fantasy;
    text-transform: uppercase;
	margin-top: 2%;
}
